application/configs/api/1.0/schema/classification.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
     The work represented by this source file is partially or entirely funded 
     by the EGI-InSPIRE project through the European Commission's 7th Framework 
     Programme (contract # INFSO-RI-261323)

     Copyright 2010 IASA and GRNET

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at [http://www.apache.org/licenses/LICENSE-2.0| Apache License 2.0]


     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an "AS IS" BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License.
-->
     
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://appdb.egi.eu/api/1.0/classification"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:classification="http://appdb.egi.eu/api/1.0/classification">

	<xs:simpleType name="stateType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="under-devel" />
			<xs:enumeration value="stable" />
			<xs:enumeration value="archived" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="versionType" mixed="true">
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="version" type="xs:string" use="required" />
		<xs:attribute name="createdon" type="xs:dateTime" use="optional" />
		<xs:attribute name="archivedon" type="xs:dateTime" use="optional" />
		<xs:attribute name="publishedon" type="xs:dateTime" use="optional" />
		<xs:attribute name="state" type="classification:stateType" use="optional" />
    </xs:complexType>

    <xs:element name="version" type="classification:versionType" />
</xs:schema>
