application/configs/api/1.0/schema/provider_template.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
     The work represented by this source file is partially or entirely funded 
     by the EGI-InSPIRE project through the European Commission's 7th Framework 
     Programme (contract # INFSO-RI-261323)

     Copyright 2010 IASA and GRNET

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at [http://www.apache.org/licenses/LICENSE-2.0| Apache License 2.0]


     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an "AS IS" BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License.
-->
     
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://appdb.egi.eu/api/1.0/provider_template"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vo="http://appdb.egi.eu/api/1.0/vo"
    xmlns:virtualization="http://appdb.egi.eu/api/1.0/virtualization">

    <xs:import namespace="http://appdb.egi.eu/api/1.0/vo"
        schemaLocation="vo.xsd"/>

	<xs:import namespace="http://appdb.egi.eu/api/1.0/virtualization"
		schemaLocation="virtualization.xsd"/>

	<xs:complexType name="templateType" mixed="true">
		<xs:sequence>
			<xs:element ref="vo:vo" minOccurs="1" maxOccurs="1" />
			<xs:element ref="virtualization:hypervisor" minOccurs="1" maxOccurs="1" />
			<xs:element name="resource_name" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="main_memory_size" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="logical_cpus" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="physical_cpus" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="cpu_multiplicity" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="resource_manager" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="computing_manager" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="os_family" type="xs:string" minOccurs="1" maxOccurs="0" />
			<xs:element name="connectivity_in" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="connectivity_out" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="connectivity_ports_in/" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="connectivity_ports_out/" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="connectivity_info/" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="cpu_model" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="disc_size" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="tmp_storage_size" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="resource_id" type="xs:string" minOccurs="0" maxOccurs="1" />
	    </xs:sequence>
        <xs:attribute name="group_hash" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:element name="template" type="provider_template:providerType" />
</xs:schema>
