application/configs/api/1.0/schema/publication.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
     The work represented by this source file is partially or entirely funded 
     by the EGI-InSPIRE project through the European Commission's 7th Framework 
     Programme (contract # INFSO-RI-261323)

     Copyright 2010 IASA and GRNET

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at [http://www.apache.org/licenses/LICENSE-2.0| Apache License 2.0]


     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an "AS IS" BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License.
-->
     
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://appdb.egi.eu/api/1.0/publication"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:publication="http://appdb.egi.eu/api/1.0/publication"
    xmlns:application="http://appdb.egi.eu/api/1.0/application"
    xmlns:person="http://appdb.egi.eu/api/1.0/person">

    <xs:import namespace="http://appdb.egi.eu/api/1.0/person"
        schemaLocation="person.xsd"/>

    <xs:import namespace="http://appdb.egi.eu/api/1.0/application"
        schemaLocation="application.xsd"/>

    <xs:simpleType name="pubTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Full paper" />
            <xs:enumeration value="Short paper" />
            <xs:enumeration value="Poster" />
            <xs:enumeration value="User guide" />
            <xs:enumeration value="Monograph" />
            <xs:enumeration value="Thesis" />
            <xs:enumeration value="Document" />
            <xs:enumeration value="Article" />
            <xs:enumeration value="Abstract" />
            <xs:enumeration value="Presentation slides" />
            <xs:enumeration value="Video" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="pubType" mixed="true">
        <xs:simpleContent>
            <xs:extension base="publication:pubTypeEnum">
                <xs:attribute name="id" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="authorTypeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="internal" />
            <xs:enumeration value="external" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="extAuthor" mixed="true">
        <xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="person:person" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="extAuthor" type="publication:extAuthor" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="type" type="publication:authorTypeType" use="required" />
        <xs:attribute name="main" type="xs:boolean" use="optional" default="false" />
    </xs:complexType>

    <xs:complexType name="publicationType">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        Required
                    </xs:appinfo>
                    <xs:documentation>
                        The publication's title
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A URL to the publication on-line
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="conference" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Conference where this publication was first presented, if any
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="proceedings" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Conference proceedings collection in which this publication is included, if any
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="isbn" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        ISBN for the publication, if applicable
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="startPage" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Start page of the publication, if published in a journal, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endPage" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        End page of the publication, if published in a journal, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Volume in which the publication in incluided, if published in a journal, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The name of the publisher, if applicable
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="journal" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The name of the journal where the publication was published in, if applicable
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="year" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Year of the publication
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="publication:pubType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Enumeration for the publication type. Valid values in the according XSD type
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="author" type="publication:authorType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Type of the author (external or internal). Internal is reserved for people registered in the AppDB
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="application" type="application:applicationType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Reference to the application this publication is related to. May exist when the publication entity is not included in the context of an application entity
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>        
    </xs:complexType>

    <xs:element name="publication" type="publication:publicationType" />
</xs:schema>
