application/configs/api/0.1/schema/person.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
     The work represented by this source file is partially or entirely funded 
     by the EGI-InSPIRE project through the European Commission's 7th Framework 
     Programme (contract # INFSO-RI-261323)

     Copyright 2010 IASA and GRNET

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at [http://www.apache.org/licenses/LICENSE-2.0| Apache License 2.0]


     Unless required by applicable law or agreed to in writing, software 
     distributed under the License is distributed on an "AS IS" BASIS, 
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
     See the License for the specific language governing permissions and 
     limitations under the License.
-->
     
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    targetNamespace="http://appdb.egi.eu/api/1.0/person"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:person="http://appdb.egi.eu/api/1.0/person"
    xmlns:publication="http://appdb.egi.eu/api/1.0/publication"
    xmlns:regional="http://appdb.egi.eu/api/1.0/regional">

    <xs:import namespace="http://appdb.egi.eu/api/1.0/regional"
        schemaLocation="regional.xsd"/>

    <xs:import namespace="http://appdb.egi.eu/api/1.0/publication"
        schemaLocation="publication.xsd"/>

    <xs:simpleType name="roleTypeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="AppDB Administrator" />
            <xs:enumeration value="Manager" />
            <xs:enumeration value="Regional Contact" />
            <xs:enumeration value="NGI Representative" />
            <xs:enumeration value="Scientific Coordinator" />
            <xs:enumeration value="Developer" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="roleType">
        <xs:attribute name="id" type="xs:integer" use="required" />
        <xs:attribute name="type" type="person:roleTypeType" use="required" />
        <xs:attribute name="validated" type="xs:boolean" use="optional" default="true"/>
    </xs:complexType>

    <xs:simpleType name="contactTypeType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Phone" />
            <xs:enumeration value="Fax" />
            <xs:enumeration value="Mobile" />
            <xs:enumeration value="Skype" />
            <xs:enumeration value="MSN" />
            <xs:enumeration value="Personal website" />
            <xs:enumeration value="e-mail" />
            <xs:enumeration value="Yahoo! Messenger" />
            <xs:enumeration value="Google Talk" />
            <xs:enumeration value="Gizmo" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="contactType" mixed="true">
        <xs:attribute name="type" type="person:contactTypeType" />
    </xs:complexType>

    <xs:element name="role" type="person:roleType" />

    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string" />
            <xs:element name="lastname" type="xs:string" />
            <xs:element name="registeredOn" type="xs:date" nillable="true" />
            <xs:element name="institute" type="xs:string" />
            <xs:element ref="regional:country" />
            <xs:element ref="regional:region" minOccurs="0"/>
            <xs:element ref="person:role" />
            <xs:element name="contact" type="person:contactType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="permalink" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element ref="application:application" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="publication:publication" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required" />
    </xs:complexType>

    <xs:element name="person" type="person:personType" />
</xs:schema>
